form{
   
    color: blanchedalmond;
}
form:hover{
    background-color: blanchedalmond;
    
    
    width: 40%; 
    height: 59%;  

 

}
 

button{
    width: 180px;
    height: 30px;
    background-color:green;
    font-size: medium;
   
   

   

}
